@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Work+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1363df;
  --primary-light: #47b5ff;
  --bg-dark: #06283d;
  --bg-light: #dff6ff;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Global Styles */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 50px 10px;
}

img {
  width: 100%;
}

.btn {
  display: block;
  padding: 15px 30px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 0.8rem 0;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .logo img {
  height: 50px;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar .nav {
  display: none;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar .nav a {
  color: #fff;
}

.navbar .nav a:hover {
  color: var(--primary-color);
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.social-menu {
  display: none;
  gap: 1rem;
  padding: 0 20px;
  font-size: 1.2rem;
}

.social-menu a {
  color: #fff;
}

.social-menu a:hover {
  color: var(--primary-color);
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 90%;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 360px;
}

.dropdown-menu .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.dropdown-menu .nav a,
.dropdown-menu .social-menu a {
  color: var(--primary-light);
}

.dropdown-menu .nav a:hover,
.dropdown-menu .social-menu a:hover {
  color: var(--primary-color);
}

.dropdown-menu .social-menu {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

/* HERO */
.hero {
  width: 100%;
  min-height: 40vh;
  background: url("./assets/orchester.jpg") rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.hero h1 {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.hero h3 {
  font-size: 1rem;
  margin-top: 5rem;
  color: var(--primary-light);
}

.hero span {
  display: none;
}

.hero p {
  display: none;
}

.hero_btn {
  width: 120px;
}

/* WELCOME SECTION */

.welcome img {
  display: none;
}

.welcome h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.welcome p {
  margin-bottom: 2rem;
}

.welcome_btn {
  width: 180px;
}

/* SERVICE SECTION */
.services {
  background-color: var(--bg-light);
}

.service {
  margin-bottom: 4rem;
}

.service:last-child {
  margin: 0;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service img {
  border-radius: 10px;
}

.service p {
  margin: 1rem 0 2rem;
}

.service .service_btn {
  width: 180px;
}

/* DIRIGENT SECTION */

.dirigent h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dirigent img {
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
  width: 50%;
  float: left;
}

.dirigent p {
  margin-bottom: 1rem;
}

/* FACTS SESSION */
.facts {
  background-color: var(--bg-dark);
  color: #fff;
}

.facts h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.facts p {
  margin-bottom: 1rem;
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  position: relative;
  margin-top: 2rem;
}

.counter {
  text-align: center;
  position: relative;
}

.counter::before {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  background: var(--primary-light);
  transform: translateX(-50%);
}

.count {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .dropdown-menu {
    width: 300px;
  }

  .hero {
    min-height: 60vh;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .hero h3 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }

  .hero span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--primary-light);
  }

  .hero p {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
  }

  .welcome {
    display: flex;
    /* align-items: center; */
    width: 100%;
    gap: 10px;
  }

  .welcome img {
    display: block;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
  }

  .dirigent .container {
    display: flex;
  }

  .counter-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .toggle_btn {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  .social-menu {
    display: flex;
  }

  .navbar .nav {
    display: flex;
  }

  .hero {
    min-height: 80vh;
  }

  .hero .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .hero h3 {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .hero span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--primary-light);
  }

  .hero p {
    display: block;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .welcome {
    max-width: 1200px;
    margin: 0 auto;
  }

  .services {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: #fff;
  }

  .service {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-light);
    box-shadow: 10px 10px 10px #d3d3d3;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .service h3 {
    text-align: center;
  }

  .service img {
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }

  .service p {
    min-height: 150px;
  }

  .service_btn {
    align-self: center;
  }

  .dirigent img {
    float: none;
    margin-right: 20px;
  }

  .dirigent,
  .facts .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .facts h3,
  .facts p {
    text-align: center;
  }

  .counter-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 2.5rem auto;
  }

  .count {
    font-size: 3rem;
  }
}
